nav
      ul
        li
          a(href="/") Inicio
          br
          //- if user
          li
            a(href="/alumnos") Alumnos
          li 
            a(href="/asignaturas") Asignaturas
          li
            a(href="/logout") Cerrar sesión
        //- else
          li
            a(href="/login") Iniciar Sesión
      

